@using Exercises.Controllers;
@using Exercises.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<string, Recipe>
<div class="container">
    <h2 style="text-align: center;">
        Recipes
    </h2>

    <table>
        <tr>
            <td></td>
            @foreach (KeyValuePair<string, Recipe> item in Model)
            {

                <td>
                    <img class="imgTable" src="~/Content/images/@(item.Value.Id).jpg" alt="@item.Key is not a hot dog." />
                </td>
            }
        </tr>
        <tr>
            <td>Name</td>
            @foreach (KeyValuePair<string, Recipe> item in Model)
            {
                <td>
                    @Html.ActionLink(item.Value.Name, "Detail", new { Key = item.Key }, null)
                </td>
            }
        </tr>
        <tr>
            <td>Type</td>

            @foreach (KeyValuePair<string, Recipe> item in Model)
            {
                <td>@item.Value.RecipeType</td>
            }
        </tr>
        <tr>
            <td>Cook Time</td>

            @foreach (KeyValuePair<string, Recipe> item in Model)
            {
                <td>@item.Value.CookTimeInMinutes min</td>
            }

        </tr>

        <tr>
            <td>Ingredients</td>

            @foreach (KeyValuePair<string, Recipe> item in Model)
            {
                int num = item.Value.Ingredients.Count;
                string thing = "ingredient";
                if (num != 1)
                {
                    thing += "s";
                }
                <td>
                    @num @thing
                </td>
            }
        </tr>
        <tr>
            <td>Rating</td>

            @foreach (KeyValuePair<string, Recipe> item in Model)
            {
                int num = (int)item.Value.AverageRating;

                <td>
                    <img class="imgTable" src="~/Content/images/@(num)-star.png" />
                </td>
            }
        </tr>


    </table>
</div>