@using Exercises.Controllers;
@using Exercises.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<string, Recipe>
<div class="container">
    <h2 style="text-align: center;">
        Recipes
    </h2>

    @foreach (KeyValuePair<string, Recipe> item in Model)
    {
        int rating = (int)item.Value.AverageRating;
        int ingred = item.Value.Ingredients.Count;
        string thing = "ingredient";
        if (ingred != 1)
        {
            thing += "s";
        }

    <div style="font-size: 8px; " class="tile">
        <a href="@Url.Action("Detail","Recipe",new { Id = item.Value.Id }, null)">
            <img style="top: 0; width: 100%;" src="~/Content/images/@(item.Value.Id).jpg" alt="@item.Key is not a hot dog." />
        </a>
            <h2>@item.Value.Name</h2>

            <img src="~/Content/images/@(rating)-star.png" style="float: left; width: 33%; bottom: 0;" />
       
        <p class="tileBottomText">
            @ingred  @thing
        </p>

    </div>

    }
</div>
